.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.container_left{
    width: 50%;
    height: 100%;
    background-image: url("../../../public/assets/lavoura-teresopolis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}